################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Source/VanillaCookingExpanded-Haute/.vs/VanillaCookingExpanded-Haute
/Source/VanillaCookingExpanded-Haute/obj
